$fonts-headline: Lora, Berkshire Swash, sans-serif;
$fonts-body:  Lora, Helvetica, sans-serif;
$background-color: #daede2;
$primary:#F7F7FF;
$accent1: #C03221;
$accent2: #F2D0A4(246, 247, 146, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
